/.cache
/.DS_Store
/.env
/public/.DS_Store
*.log
*.log.lk
*.log.lck
KinectBlob/.vs
KinectBlob/KinectBlob/x64
KinectBlob/x64
KinectBlob/KinectBlob/opencv_world470.dll
KinectBlob/KinectBlob/opencv_world470d.dll
/.idea
/build
/natives
/shadertoy
hdpi
pixliteconfig.json
outputmap.json
modelparams.json
.lxpreferences
/target


